@import "tailwindcss";

@theme {
  --color-primary: #f7ea66;
}

body {
  background-color: black;
  color: white;
  font-family: "Berkshire Swash", serif !important;
}

.shadow-primaryBtn:hover {
  -webkit-box-shadow: 0px 0px 40px 4px rgba(249, 220, 4, 0.479) !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background-color: var(--color-primary);
}

.menu-link {
  position: relative;
  z-index: 4 !important;
}

.menu-link::after {
  content: '';
  position: absolute;
  width: 117%;
  z-index: -1;
  left: -5px;
  right: 0;
  top: -20px;
  height: 0px;
  background: #552f4dd0;
  opacity: 0;
  -webkit-transition: ease all .4s;
  -moz-transition: ease all .4s;
  -o-transition: ease all .4s;
  transition: ease all .4s;
}

.menu-link::before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 117%;
  left: -5px;
  right: 0;
  top: -25px;
  height: 5px;
  background: #613157;
  opacity: 0;
  -webkit-transition: ease all .4s;
  -moz-transition: ease all .4s;
  -o-transition: ease all .4s;
  transition: ease all .4s;
}

.menu-link:hover::after {
  height: 70px;
  opacity: 1;
}

.menu-link:hover::before {
  opacity: 1;
}

.menu-link-active {
  position: relative;
  z-index: 5 !important;
}

.menu-link-active::after {
  content: '';
  position: absolute;
  width: 117%;
  z-index: -1;
  left: -5px;
  right: 0;
  top: -20px;
  height: 70px;
  background: #552f4dd0;
  opacity: 1;
  -webkit-transition: ease all .18s;
  -moz-transition: ease all .4s;
  -o-transition: ease all .4s;
  transition: ease all .4s;
}

.menu-link-active::before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 117%;
  left: -5px;
  right: 0;
  top: -25px;
  height: 5px;
  background: #613157;
  opacity: 1;
  -webkit-transition: ease all .4s;
  -moz-transition: ease all .4s;
  -o-transition: ease all .4s;
  transition: ease all .4s;
}